@model AFS.Payment.Models.OrderModel

@{
    ViewBag.Title = "Order";
}

<div class="container">
    <h2>Order details</h2>
    <div class="card mt-3">
        <div class="card-header">
            Summary
        </div>
        <div class="card-body">
            <form>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">@Html.DisplayNameFor(model => model.Fullname)</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" value="@Model.Fullname">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">@Html.DisplayNameFor(model => model.Total)</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" value="@Model.Total">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">@Html.DisplayNameFor(model => model.Status)</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" value="@Model.Status">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-header">
            Items
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                </tr>
                </thead>
                <tbody>
                @{ int c = 0; }
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <th scope="row">@Html.Raw(c++)</th>
                        <td>@item.Product</td>
                        <td>@item.Quantity</td>
                        <td>@item.Price</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    @Html.Partial("_CreditCard", Model.CreditCardModel)
</div>